Dear #{@target_user.firstname},

A DevKoans visitor wanted to send you a message, so we're passing it along to you!

Visitor Name:    #{@sender_name}
Visitor Email:   #{@sender_email}

Message Subject: #{@email_subject}

Message:

#{@message}
