- form_for @user do |f|
  = f.error_messages
  %p
    = f.label :username, 'Username (public - NOT an email)'
    %br
    = f.text_field :username
  %p
    = f.label :firstname, "First name (public)"
    %br
    = f.text_field :firstname
  %p
    = f.label :lastname, "Last name (public)"
    %br
    = f.text_field :lastname
  %p
    = f.label :nickname, "Nickname (public)"
    %br
    = f.text_field :nickname
  %p
    = f.label :email, "Email (private)"
    %br
    = f.text_field :email
  %p
    = f.label :password, "Password"
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation
  %p
    = f.submit "Submit"
