.secttitle
  Aren't We Just Exciting?
.bio
  .title
    #{@user.firstname} #{@user.lastname}'s Profile
  .left
    =image_tag @user.gravatar_url(:rating => 'PG', :size => 220, :default => 'identicon')
    %p
      %span Username
      %br
      &nbsp;&nbsp;#{@user.username}
    %p
      %span Real name
      %br
      &nbsp;&nbsp;#{@user.firstname} "#{@user.nickname}" #{@user.lastname}
    %p
      %span Twitter username
      %br
      -unless @user.twitter_username.nil? || @user.twitter_username == ''
        %a{:href=> "http://twitter.com/#{@user.twitter_username}"}
          &nbsp;&nbsp;#{@user.twitter_username}
    %p
      %span Website
      %br
      -unless @user.user_url.nil? || @user.user_url == ''
        %a{:href => "http://#{@user.user_url}"}
          &nbsp;&nbsp;#{@user.user_url}
    %p
      %span Email
      %br
      -unless @user.email.nil? || @user.email == ''
        %a{:href => user_email_url(@user)}
          &nbsp;&nbsp;Contact this user
  .right
    %p
      %span Bio
      %br
      .bioinfo
        :markdown
          #{@user.bio}
