.comment{:id => "post-#{comment.post.id}-comment-#{comment.seqno}"}
  %a{:name=>"comment-#{comment.seqno}"}
  .commenthead
    .id
      Comment
      %br
      No. #{comment.seqno}
    .title #{h comment.title}
    .metadata
      =render :partial => 'common/datetime', :object => comment.created_at
      .commenter
        -unless comment.guest?
          =render :partial => 'common/byline', :object => comment.commenter
        -else
          =render :partial => 'common/byline', :locals => {:guest => true, :guest_name => comment.guest_name, :guest_url => comment.guest_url}
  .commentbody
    -unless comment.in_reply_to_seqno.nil? || comment.in_reply_to_seqno == 0
      %p.reply In reply to comment no. #{comment.in_reply_to_seqno}:
    %p #{h comment.body}
  =render 'common/commentfoot', :object => comment