.comment
  %a{:name=>"comment-#{comment.seqno}"}
  .commenthead
    .id
      Comment
      %br
      No. #{comment.seqno}
    .title #{comment.title}
    .metadata
      .date
        #{Date::MONTHNAMES[comment.created_at.month]} #{comment.created_at.day}, #{comment.created_at.year}
      .time
        at #{comment.created_at.hour}:#{comment.created_at.min} #{comment.created_at.zone}
      .commenter
        by
        %a{:href=>'#'}#{comment.commenter.firstname} #{comment.commenter.lastname}
  .commentbody
    -unless comment.in_reply_to_seqno.nil? || comment.in_reply_to_seqno == 0
      %p.reply In reply to comment no. #{comment.in_reply_to_seqno}:
    %p #{comment.body}
  .commentfoot
    .left
      #{comment.agreed > 0 ? "#{pluralize comment.agreed, 'person'}" : 'no one agrees'}
      #{comment.agreed > 0 ? "#{comment.agreed > 1 ? ' agree' : ' agrees'}" : ''}
      |
      #{comment.disagreed > 0 ? "#{pluralize comment.disagreed, 'person'}" : 'no one agrees'}
      #{comment.disagreed > 0 ? "#{comment.disagreed > 1 ? ' disagree' : ' disagrees'}" : ''}
      |
      shared #{pluralize comment.shared, 'time'}
    .right
      -if current_user
        %a{:href => '#'}
          tweet
        |
        %a{:href=>'#'}
          email
        |
        %a{:href=>'#'}
          reply
        |
        %a{:href=>'#'}
          agree
        |
        %a{:href=>'#'}
          disagree
      -else
        =link_to 'Register', new_user_path, :class => 'auth'
        or
        =link_to 'log in', login_path, :class => 'auth'
        to:
        %span tweet
        |
        %span email
        |
        %span reply
        |
        %span agree
        |
        %span disagree
