.section#sitenav
  .secthead
    Navigation
  .sectbody
    %p
      =link_to 'Latest Entries', post_url(:id => 'all')
    %p
      %a{:href=>user_path(owner_user)} About Me
    %p
      %a{:href=>user_email_url(owner_user)}Contact Me
-counts = counts_for_archive
-unless counts.empty?
  .section
    .secthead
      Archive
    .sectbody
      -counts.each do |yearhash|
        -yearhash.each do |year, data|
          -unless data[0] == 0
            .year=link_to "#{year} (#{data[0]})", show_posts_url(:year => year, :month => nil, :day => nil, :slug => nil)
            -data[1..data.length - 1].each do |month|
              -unless month.nil?
                -month.each do |name, count|
                  -unless count == 0
                    .month=link_to "#{name} (#{count})", show_posts_url(:year => year, :month => DateTime::MONTHNAMES.index(name), :day => nil, :slug => nil)
-unless Post.tag_counts.length < 1
  .section
    .secthead
      Tags
    .sectbody
      -tag_cloud tags_for_cloud, %w(tag1 tag2 tag3 tag4) do |tag, css_class|
        =link_to "#{tag.name}&nbsp; ", tag_search_path(:action => :tag, :tag_name => tag.name), :class => css_class
.section
  .secthead
    As Seen On Twitter
  .sectbody{:id => 'tweetstream'}
    %p.twitter
      %img#twitterpic{:align => 'left', :style => 'display:none'}
      %a{:href => "http://twitter.com/#{owner_user.twitter_username}"} I'm @#{owner_user.twitter_username} on Twitter. Click here to read my tweets or follow me!
    .clear