!!! XML
!!!
%html
  %head
    %title
      -unless @page_title.nil?
        #{DEFAULT_TITLE} - #{@page_title}
      - else
        #{DEFAULT_TITLE}
    %link{ :rel=>'shortcut icon', :href=>'/favicon.ico', :type=>'image/vnd.microsoft.icon'}
    %link{ :rel=>'icon', :href=>'/favicon.ico', :type=>'image/vnd.microsoft.icon'}
    %meta{ :name=>'keywords', :content=>'' }
    %meta{ :name=>'description', :content=>'' }
    = javascript_include_tag 'jquery-1.3.2.min'
    = javascript_include_tag 'jquery.markitup'
    = javascript_include_tag 'markitup-markdown-set'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'markitup-markdown'
    = stylesheet_link_tag 'markitup-skin'
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  %body.styled
    #head_color
      .container
        #header
          #identityarea
            .nest
              %h1
                ="<span class='titlecolor'>Dev</span>Koans"
              .tagline A thought-provoking blog of things I know might be true
          #usernav
    #live_color
      .container
        #livearea
          #content
            =yield
          #sidebar
            -unless @skip_sidebar == true
              =render :partial => 'common/sidebar'
    #foot_color
      .container
        #footer
          Design and all contents of this website &copy; 2009#{DateTime::now().year == 2009 ? '' : " - #{DateTime::now().year}"} Jonathan D. Mischo  All rights reserved.
