!!! XML
!!!
%html
  %head
    %title
      -unless @page_title.nil?
        #{@page_title}
      - else
        #{DEFAULT_SITE_NAME} - #{DEFAULT_TITLE}
    %link{ :rel=>'shortcut icon', :href=>'/favicon.ico', :type=>'image/vnd.microsoft.icon'}
    %link{ :rel=>'icon', :href=>'/favicon.ico', :type=>'image/vnd.microsoft.icon'}
    = auto_discovery_link_tag(:atom, :url => '/posts.atom', :title => 'DevKoans Atom Feed')
    = yield :before_default_js
    = javascript_include_tag 'jquery-1.3.2.min', 'application-config', 'application', :cache => 'cache/all'
    = yield :after_default_js
    = yield :before_default_css
    = stylesheet_link_tag 'screen.css', :cache => 'cache/visual', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = yield :after_default_css
    %script{:type=>'text/javascript'}
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{WEB_PROPERTY_ID}']);
      _gaq.push(['_setDomainName', '#{ANALYTICS_DOMAIN}']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();

  %body.styled
    #head_color
      .container
        #header
          #identityarea
            .nest
              %h1
                #{DEFAULT_SITE_NAME}
              .tagline #{DEFAULT_TAGLINE}
          #usernav
    #live_color
      .container
        #livearea
          #content
            =yield
          #sidebar
            -unless @skip_sidebar == true
              =render :partial => 'common/sidebar'
    #foot_color
      .container
        #footer
          All contents of this website &copy; #{BLOG_ORIGIN_YEAR}#{DateTime::now().year == BLOG_ORIGIN_YEAR ? '' : " - #{DateTime::now().year}"} #{BLOG_OWNER_NAME}  All rights reserved.
          .version{:style => 'font-size: 1.2em;padding-top:1em'}
            Powered by RedQuill
      .vtag{:style => 'font-size:.7em;color:#999;padding-bottom:5px;padding-right:5px;float:right'}
        RedQuill v.#{APP_VERSION}
